<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico">
    <title>修改密码</title>
    <!-- Bootstrap--CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- 自定义样式 -->
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<!-- 顶部栏 -->
<% include header.ejs %>
<!-- 顶部栏--end -->
<div class="container container_padding_top">
    <form role="form">
        <div class="form-group">
            <label for="exampleInputPassword1">原密码：</label>
            <input type="password" class="form-control" id="oldPassword" value="<%=password%>"  placeholder="原密码">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">新密码：</label>
            <input type="password" class="form-control" id="newPassword" placeholder="请输入新密码">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">确认新密码：</label>
            <input type="password" class="form-control" id="newPasswordTwo" placeholder="请确认新密码">
        </div>
        <button type="button" id="modifyBtn" class="btn btn-default">确认</button>
    </form>
    <div class="alert alert-danger errorTip" role="alert" id="errorTip"></div>
</div>

<!-- 底部栏 -->
<% include footer.ejs %>
<!-- 底部栏--end -->

<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $("input").focus(function(){
        $("#errorTip").fadeOut();
    });
    //修改密码按钮事件，用ajax提交表单
    $("#modifyBtn").click(function(){
        $.post("/doModifyPassword",{
            "newPassword" : $("#newPassword").val(),
            "newPasswordTwo" : $("#newPasswordTwo").val()
        },function(result){
            if(result == "1"){
                //修改成功
                alert("修改成功！将自动跳转到首页");
                window.location = "/";
            }else if(result == "-1"){
                $("#errorTip").fadeIn();
                $("#errorTip").html("输入新密码不能为空");
            }else if(result == "-2"){
                $("#errorTip").fadeIn();
                $("#errorTip").html("2次密码输入不一致");
            }
        });
    });
</script>
</body>
</html>
